<nav class="navbar navbar-expand-lg fixed-top">
    <a href="#" class="navbar-brand">OET</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menuItems" aria-controls="menuItems" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="menuItems">
        <ul class="navbar-nav">
            <li class="nav-item"> <a target="_parent" class="nav-item nav-link active" href="index.html"> Home <span class="sr-only">(current)</span></a> </li>
            <li class="nav-item"><a class="nav-item nav-link active" href="#about">About</a></li>
        </ul>
    </div>
</nav>