<div style="text-align: center;margin-top: 5rem;">
    <h1>Your perfect coach is just a few steps away</h1>
    <h6>Find the ideal coach for your goals & interests</h6>
</div>


<div class="container" style="margin-top: 10rem;">
    <div class="row">
      <div class="col-sm"  >
        <mat-card class="speaking">
            <div style="text-align: center;">
                <div style="position: absolute;">

                    <img style="width: 300px;
                    position: relative;
                    left: -4rem;
        bottom: 9rem;
                    filter: brightness(-0.5);
                    filter: drop-shadow(-3px 4px 6px black);" src="../../assets/speaking.png">
                </div>

                    <div style="    position: absolute;
                    bottom: 3rem;
                    left: 2rem;">

                        <h1>Speaking</h1>
                        <h6>Unlock your speaking skill with right coach </h6>
                        <button style="width: 20rem;" [routerLink]="['/viewCoaches']"  mat-stroked-button color="primary">View Coaches</button>
                    </div>
            </div>

        </mat-card>
      </div>
      <div class="col-sm">
        <mat-card class="listening">
            <div style="text-align: center;">
                <div style="position: absolute;">

                    <img style="width: 300px;
                    position: relative;
                    left: 1rem;

                    bottom: 10rem;
                    filter: brightness(-0.5);
                    filter: drop-shadow(-3px 4px 6px black);" src="../../assets/listening.png">
                </div>
                <div style="    position: absolute;
                bottom: 3rem;
               left: 2rem;">

                    <h1>listening</h1>
                    <h6>Unlock your listening skill with right coach </h6>
                    <button style="width: 20rem;" mat-stroked-button color="primary">View Coaches</button>


                </div>
            </div>

        </mat-card>
      </div>

    </div>

    <div class="row" style="margin-top:10rem">

        <div class="col-sm" >


            <mat-card class="writing">
                <div style="text-align: center;">
                    <div style="position: absolute;">

                        <img style="width: 179px;
                        position: relative;
                        left: 3rem;
                        bottom: 10rem;
                        filter: brightness(-0.5);
                        filter: drop-shadow(-3px 4px 6px black);" src="../../assets/writing.png">
                    </div>
                    <div style="    position: absolute;
                    bottom: 3rem;
                   left: 2rem;">

                        <h1>Writing</h1>
                        <h6>Unlock your Writing skill with right coach </h6>
                        <button style="width: 20rem;" mat-stroked-button color="primary">View Coaches</button>

                    </div>
                </div>

            </mat-card>
        </div>
        <div class="col-sm">

            <mat-card class="reading">
                <div style="text-align: center;">
                    <div style="position: absolute;">

                        <img style="width: 300px;
                        position: relative;
                        right:1rem;
                        bottom: 10rem;
                        filter: brightness(-0.5);
                        filter: drop-shadow(-3px 4px 6px black);" src="../../assets/reading.png">
                    </div>
                    <div style="    position: absolute;
                    bottom: 3rem;
                   left: 2rem;">

                        <h1>Reading</h1>
                        <h6>Unlock your Reading skill with right coach </h6>
                        <button style="width: 20rem;" mat-stroked-button color="primary">View Coaches</button>

                    </div>
                </div>

            </mat-card>
        </div>

    </div>
  </div>
<!--
<div class="grid-container" style="display: grid;grid-template-columns: 2;">

    <mat-card class="speaking">
        <div style="text-align: center;">
            <div style="position: absolute;">

                <img style="width: 300px;
                position: relative;
                left: -4rem;
    bottom: 9rem;
                filter: brightness(-0.5);
                filter: drop-shadow(-3px 4px 6px black);" src="../../assets/speaking.png">
            </div>

                <div style="    position: absolute;
                bottom: 3rem;
                left: 2rem;">

                    <h1>Speaking</h1>
                    <h6>Unlock your speaking skill with right coach </h6>
                    <button style="width: 20rem;" mat-stroked-button color="primary">View Coaches</button>
                </div>
        </div>

    </mat-card>
    <mat-card class="listening">
        <div style="text-align: center;">
            <div style="position: absolute;">

                <img style="width: 300px;
                position: relative;
                left: 1rem;

                bottom: 10rem;
                filter: brightness(-0.5);
                filter: drop-shadow(-3px 4px 6px black);" src="../../assets/listening.png">
            </div>
            <div style="    position: absolute;
            bottom: 3rem;
           left: 2rem;">

                <h1>listening</h1>
                <h6>Unlock your listening skill with right coach </h6>
                <button style="width: 20rem;" mat-stroked-button color="primary">View Coaches</button>


            </div>
        </div>

    </mat-card>

</div> -->