<div style="margin-top: 10rem;" class="container">
    <div class="row gap " style="text-align: center;">
        <div class="col-sm flex">
            <mat-card style="width:20rem; height: 30rem;box-shadow: 2px 2px 2px 2px #8888;display: inline-flex;flex-direction: column;">
                <div style="display: flex;justify-content:center">
                    <div class="circle">
                        <img class="person" src="../../assets/trainer1.png">
                    </div>
                </div>
                <div style="margin-top:3rem">
                    <p class="bold">Subir Chakravorty</p>
                </div>
                <div>
                </div>
                <p style="color:#637381;font-family: sans-serif;font-weight: 600;font-size: 14px;">5 * | 186 People Coached</p>
                <div style="margin-top: 1rem;width: 240px;display: contents;">
                    <p style="background-color: lightgrey; height: 70px;text-align: center;padding: 20px; border-radius: 8px;">
                        3 slots available
                    </p>
                </div>
                <div style="position: absolute;bottom:0;border-top: 1px solid #e5e8eb;width:100%;left:0;height:20%;padding:20px;">
                    <button mat-stroked-button style="width: 100%;border-color:black;">See Plans</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm flex">
            <mat-card style="width:20rem; height: 30rem;box-shadow: 2px 2px 2px 2px #8888;display: inline-flex;flex-direction: column;">
                <div style="display: flex;justify-content:center">
                    <div class="circle">
                        <img class="person" src="../../assets/trainer1.png">
                    </div>
                </div>
                <div style="margin-top:3rem">
                    <p class="bold">Subir Chakravorty</p>
                </div>
                <div>
                    <p style="color:#637381;font-family: sans-serif;font-weight: 600;font-size: 14px;">5 * | 186 People Coached</p>
                </div>
                <div style="margin-top: 1rem;width: 240px;display: contents;">
                    <p style="background-color: lightgrey; height: 70px;text-align: center;padding: 20px; border-radius: 8px;">
                        3 slots available
                    </p>
                </div>
                <div style="position: absolute;bottom:0;border-top: 1px solid #e5e8eb;width:100%;left:0;height:20%;padding:20px;">
                    <button mat-stroked-button style="width: 100%;border-color:black;" [routerLink]="['/CoachPlan']">See Plans</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm flex">
            <mat-card style="width:20rem; height: 30rem;box-shadow: 2px 2px 2px 2px #8888;display: inline-flex;flex-direction: column;">
                <div style="display: flex;justify-content:center">
                    <div class="circle">
                        <img class="person" src="../../assets/trainer3.png">
                    </div>
                </div>
                <div style="margin-top:3rem">
                    <p class="bold">Subir Chakravorty</p>
                </div>
                <div>
                    <p style="color:#637381;font-family: sans-serif;font-weight: 600;font-size: 14px;">5 * | 186 People Coached</p>
                </div>
                <div style="margin-top: 1rem;width: 240px;display: contents;">
                    <p style="background-color: lightgrey; height: 70px;text-align: center;padding: 20px; border-radius: 8px;">
                        3 slots available
                    </p>
                </div>
                <div style="position: absolute;bottom:0;border-top: 1px solid #e5e8eb;width:100%;left:0;height:20%;padding:20px;">
                    <button mat-stroked-button style="width: 100%;border-color:black;" [routerLink]="['/CoachPlan']">See Plans</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm flex">
            <mat-card style="width:20rem; height: 30rem;box-shadow: 2px 2px 2px 2px #8888;display: inline-flex;flex-direction: column;">
                <div style="display: flex;justify-content:center">
                    <div class="circle">
                        <img class="person" src="../../assets/trainer1.png">
                    </div>
                </div>
                <div style="margin-top:3rem">
                    <p class="bold">Subir Chakravorty</p>
                </div>
                <div>
                    <p style="color:#637381;font-family: sans-serif;font-weight: 600;font-size: 14px;">5 * | 186 People Coached</p>
                </div>
                <div style="margin-top: 1rem;width: 240px;display: contents;">
                    <p style="background-color: lightgrey; height: 70px;text-align: center;padding: 20px; border-radius: 8px;">
                        3 slots available
                    </p>
                </div>
                <div style="position: absolute;bottom:0;border-top: 1px solid #e5e8eb;width:100%;left:0;height:20%;padding:20px;">
                    <button mat-stroked-button style="width: 100%;border-color:black;" [routerLink]="['/CoachPlan']">See Plans</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm flex">
            <mat-card style="width:20rem; height: 30rem;box-shadow: 2px 2px 2px 2px #8888;display: inline-flex;flex-direction: column;">
                <div style="display: flex;justify-content:center">
                    <div class="circle">
                        <img class="person" src="../../assets/trainer2.png">
                    </div>
                </div>
                <div style="margin-top:3rem">
                    <p class="bold">Subir Chakravorty</p>
                </div>
                <div>
                    <p style="color:#637381;font-family: sans-serif;font-weight: 600;font-size: 14px;">5 * | 186 People Coached</p>
                </div>
                <div style="margin-top: 1rem;width: 240px;display: contents;">
                    <p style="background-color: lightgrey; height: 70px;text-align: center;padding: 20px; border-radius: 8px;">
                        3 slots available
                    </p>
                </div>
                <div style="position: absolute;bottom:0;border-top: 1px solid #e5e8eb;width:100%;left:0;height:20%;padding:20px;">
                    <button mat-stroked-button style="width: 100%;border-color:black;">See Plans</button>
                </div>
            </mat-card>
        </div>
        <div class="col-sm flex">
            <mat-card style="width:20rem; height: 30rem;box-shadow: 2px 2px 2px 2px #8888;display: inline-flex;flex-direction: column;">
                <div style="display: flex;justify-content:center">
                    <div class="circle">
                        <img class="person" src="../../assets/trainer3.png">
                    </div>
                </div>
                <div style="margin-top:3rem">
                    <p class="bold">Subir Chakravorty</p>
                </div>
                <div>
                    <p style="color:#637381;font-family: sans-serif;font-weight: 600;font-size: 14px;">5 * | 186 People Coached</p>
                </div>
                <div style="margin-top: 1rem;width: 240px;display: contents;">
                    <p style="background-color: lightgrey; height: 70px;text-align: center;padding: 20px; border-radius: 8px;">
                        3 slots available
                    </p>
                </div>
                <div style="position: absolute;bottom:0;border-top: 1px solid #e5e8eb;width:100%;left:0;height:20%;padding:20px;">
                    <button mat-stroked-button style="width: 100%;border-color:black;">See Plans</button>
                </div>
            </mat-card>
        </div>
    </div>

</div>